* {
  padding: 0;
  margin: 0;

  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  font-size: 0.85rem;
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: hsl(30, 38%, 92%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37%;
}

#mobileImg {
  display: none;
}

img {
  height: 100%;
  border-radius: 0.5rem 0 0 0.5rem;
}

.image,
.description {
  height: 25rem;
}

.description {
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
}

#details {
  color: hsl(228, 12%, 48%);
  font-size: 0.8rem;
  font-weight: 500;
}

#perfume {
  text-transform: full-width;
  font-weight: 500;
  font-size: 0.7rem;
  color: hsl(228, 12%, 48%);
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 1.9rem;
  margin: 1rem 0;
  font-weight: 700;
}

#details {
  line-height: 1.3rem;
}

.price {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  align-items: center;
}

#newPrc {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

#oldPrc {
  font-size: 0.8rem;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

button {
  background-color: hsl(158, 36%, 37%);
  height: 2.7rem;
  border-radius: 0.5rem;
  width: 100%;
  color: hsl(30, 38%, 92%);
  font-weight: 700;
  font-size: 0.8rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button img {
  width: 1rem;
  height: auto;
}

button:hover {
  cursor: pointer;
  background-color: hsl(158, 42%, 18%);
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
  }

  #desktopImg {
    display: none;
  }
  #mobileImg {
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .image {
    width: 100%;
    height: auto;
  }

  #mobileImg {
    width: 100%;
    object-fit: contain;
  }

  .description {
    height: auto;
    border-radius: 0 0 0.5rem 0.5rem;
  }

  h1 {
    font-size: 2.3rem;
  }

  #details {
    line-height: 1.7rem;
    font-size: 1.08rem;
  }

  button {
    height: 3.2rem;
    font-size: 0.9rem;
  }

  button img {
    width: 1.1rem;
    height: auto;
  }

  #perfume {
    font-size: 0.8rem;
  }

  #newPrc {
    font-size: 2.4rem;
  }

  #oldPrc {
    font-size: 1rem;
  }

  button {
    height: 3.5rem;
    font-size: 1rem;
  }

  button img {
    width: 1.2rem;
  }
}
